# Files - Questions

© Advanced Analytics, Amir Ben Haim, 2024

## Files - Python

### Exercise 1

- Using the `with open()` Statement create a txt file
- Name the file 'test.txt'
- The file should include the next line: "working with files"

In [62]:
with open('txt.txt','w+') as file:
    file.write('working with files')

### Exercise 2

Print the content of the file   BUT  starts from word 'with' --> the outcome should be "with files".
<br><b> Hint: Find the right position of the cursor using `.find()` method</b>

In [63]:
with open('txt.txt') as file:
    file.seek(file.read().find('with'))
    print(file.read())

with files

### Exercise 3

Print the content of the file, all of it

In [64]:
with open('txt.txt') as file:
    print(file.read())

working with files

### Exercise 4

Find the location of your Notebook

In [65]:
pwd

'/Users/djourno/Documents/Academy/Data Science Technion/חלק 1 - פייתון/שיעורי כיתה'

### Exercise 5

Add to the file the sentence "I also work with Python", the new sentence should be in a new line, print the content of the file

In [66]:
with open('txt.txt','a+') as file:
    file.write("\nI also work with Python")

### Exercise 6

If a line in the file has the word 'Python', than change the line to 'We're all working with Python'.
<br>Print the content of the file before the change and after the change

In [67]:
with open('txt.txt','a+') as f:
    f.seek(0)
    lines = f.readlines()
    f.(["\nWe're all working with Python" if v.find("Python") != - else v for v in lines  ])
with open('txt.txt') as f:
    print(f.read())

working with files

We're all working with Python

<br></br>
## Files - Pandas

### Exercise 7

Import Pandas

### Exercise 8

Create a 'data.csv' file from the dictionary below:

```python
data = {
    'id': range(1, 11),
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Ella', 'Frank', 'Grace', 'Hannah', 'Ian', 'Jane'],
    'age': [25, 30, 35, 40, 45, 50, 55, 60, 65, 70],
    'country': ['USA', 'UK', 'Canada', 'Australia', 'Germany', 'France', 'Italy', 'Spain', 'Portugal', 'Netherlands']
}
```

### Exercise 9

Load 'data.csv' file to a DataFrame.
<br>But skip the first 3 rows, the index column should be the default one (Google the solution).
<br><b><u>Notice!!! Don't load the entire file then make the changes above, load directly as instructed above</u></b>

   id    name  age      country
0   4   David   40    Australia
1   5    Ella   45      Germany
2   6   Frank   50       France
3   7   Grace   55        Italy
4   8  Hannah   60        Spain
5   9     Ian   65     Portugal
6  10    Jane   70  Netherlands

### Exercise 10

Load the 'data.csv' file to a DataFrame.
<br>But load only columns 'id' and 'country', the 'name' column should be the index (Google the solution).
<br><b><u>Notice!!! Don't load the entire file then make the changes above, load directly as instructed above</u></b>

         id      country
name
Alice     1          USA
Bob       2           UK
Charlie   3       Canada
David     4    Australia
Ella      5      Germany
Frank     6       France
Grace     7        Italy
Hannah    8        Spain
Ian       9     Portugal
Jane     10  Netherlands

### Exercise 11

Create a json file 'data.json' from the 'data.csv'

### Exercise 12

Delete the files 'data.json', 'data.csv' and 'test.txt'