# Variables & DataTypes

## Questions

**Exercise 1: Basic Variables**

Create a variable named `greeting` and assign the string `Hello, World!` to it. Print the variable.

In [3]:
greeting="Hello, World!"
print(greeting)

Hello, World!

**Exercise 2: Simple Arithmetic**

Create two variables, `a` and `b`, assign them the values `5` and `7`, respectively. Add these two variables and assign the result to a new variable `c`. Print `c`.

In [5]:
a= 5
b= 7
c = a+b 
print(c)

12

**Exercise 3: String Concatenation**

Create two string variables, `first_name` and `last_name`, and assign your first and last names to them. Concatenate these two variables with a space in between, and assign the result to a new variable `full_name`. Print `full_name`.

In [1]:
first_name = "Israel"
last_name = "Israeli"


full_name = first_name + " " + last_name
full_name2 = "%s %s" %(first_name,last_name)
full_name3 = f"{first_name} {last_name}"

print (full_name)
print (full_name2)
print (full_name3)

Israel Israeli
Israel Israeli
Israel Israeli

**Exercise 4: Converting Integers to Floats**

Create an integer variable `x` with value `10`. Convert `x` to a float and assign it to a new variable `y`. Print `y`.

In [24]:
x = 10 
x = float(x)
y = x 
print(y)

10.0

**Exercise 5: Boolean Variables**

Assign the value `True` to a variable `is_active`. Print `is_active`.

In [26]:
is_active = True
print(is_active)

True

**Exercise 6: Variable Swap**

Swap the values of two variables, `p` and `q`, without using a third variable.

In [31]:
p,q = 5,6
p, q = q, p
print(p, q)

6 5

**Exercise 7: String Length**

Calculate the length of a string variable `sentence`. Print the length

In [38]:
print(len('sentence'))

8

**Exercise 8: Negative Number**

Create a negative integer variable `neg_num` with value `-100`. Print `neg_num`.

In [39]:
neg_num = -100
print( neg_num)

-100

**Exercise 9: Multi-line Strings**

Assign a multi-line string (string with line breaks) to a variable `poem`. Print `poem`.

In [46]:
poem= "dai\nkvar"
print(poem)

dai
kvar

**Exercise 10: User Input**

Write a program to accept user input `2`, convert it to an integer, multiply it by 2, and display it.

In [60]:
two= int(input("enter two"))
if two != 2: print( "enter two!!!!")
elif two == 2 : two = two * 2 ; print( two )

enter two 3

you dumb ass

**Exercise 11: Type Conversion**

Write a Python program to add a string `Python` and a number `3`. Hint: You'll need to convert the number to a string first.

In [74]:
ma = "Python%d" % 3
ha = str(3)

print("Python"+ha + f"\n{ma}")

Python3
Python3

**Exercise 12: String Formatting**

Print the variables `greeting` (a string), `a` and `b` (integers), and `z` (a float) in a formatted string.

In [78]:
g = 'greetings'
a= 4 
b= 5 
z = (float(100))

print(f" if you go {a} play {b} and get {g} you are {z}")

 if you go 4 play 5 and get greetings you are 100.0

**Exercise 13: Arithmetic Operations**

Perform all basic arithmetic operations with two variables `x = 15` and `y = 6`.

In [86]:
x = 15
y = 6

print(x*y) 
print(x+y) 
print(x-y) 
print(x/y) 
print(x**y) 
print(float(x)**float(1/y))

90
21
9
2.5
11390625
1.5704178024750197

**Exercise 14: String Indexing**

Print the first, third and last character of the string `s = "Python"`.

In [90]:
python= "Python"

print(f"First character: {python[0]}")
print(f"Third character: {python[2]}")
print(f"Last character: {python[-1]}")

First character: P
Third character: t
Last character: n

**Exercise 15: String Case Conversion**

Convert a string variable `text = "Python Programming"` to uppercase, and then to lowercase.

In [92]:

text = "Python Programming"

print(text.upper())
print(text.lower())

PYTHON PROGRAMMING
python programming

**Exercise 16: Concatenate and Repeat Strings**

Create two string variables, `s1` with value `Hello` and `s2` with value `World`. Concatenate them with a space in between and repeat this concatenated string 3 times.

In [97]:
s1 = "Hello"
s2 = "World"

combined = "%s %s " %(s1 ,s2)

print("\n".join([combined] * 3))

Hello World
Hello World
Hello World

**Exercise 17: Use the `type()` Function**

Use the `type()` function to find the data type of a variable `z` with value `3.14`.

In [98]:
z=3.14
print(type(z))

<class 'float'>

**Exercise 18: String to List Conversion**

Count the number of times the character `o` apears in the sstring `s = Hello, how are you?`.

In [100]:
s = "Hello, how are you?"
print(s.count('o'))

3

**Exercise 19: String Reversal**

Reverse a string `text = "Python"`.

In [111]:
text = "Python"
print("".join(reversed(text)))

nohtyP

**Exercise 20: Formatted String from User Input**

Ask the user for their name and age, then print a greeting that includes these details.

In [ ]:
name= input("name?")
while True :
    age= input("age?")
    try: 
        age = int(age)
        if age > 0:
            break
        else: 
            print("enter number between 1-120")
            continue
    except :
        print("enter number! between 1-120!")
        continue
print(f"Hello {name}. it probably nice to be {age} years old." )