# Control Flow

## Questions

Exercise 1: if statement

Given an integer, `x=5`, write an `if` statement to print 'x is greater than 3.' if `x` is indeed greater than 3.

In [3]:
x=5
y=3
if x > y:
    print(f"{x} is greater than {y}")

5 is greater than 3

Exercise 2: if-else statement

Given an integer, `x=2`, write an `if-else` statement to print 'x is greater than 3.' if `x` is greater than 3, and 'x is not greater than 3.' otherwise.

In [7]:
x=2
y=3
if x > y:
    print(f"{x} is greater than {y}")
elif x<y :
    print(f"{x} is not greater than {y}")

2 is not greater than 3

Exercise 3: if-elif-else statement

Given an integer, `x=3`, write an `if-elif-else` statement to print 'x is less than 3.' if `x` is less than 3, 'x is 3.' if `x` is equal to 3, and 'x is greater than 3.' otherwise.

In [17]:
x="f"
y=3
try:
    if x > y:
        print(f"{x} is greater than {y}")
    elif x<y :
        print(f"{x} is not greater than {y}")
    elif x==y :
        print(f"{x} is {y}")

except TypeError:
    print("Error: Cannot compare a string with a number!")

Error: Cannot compare a string with a number!

Exercise 4: Nested if statement

Given two integers, `x=10` and `y=5`, write nested `if` statements (an `if` statement inside another `if` statement) to print 'x is greater than y and y is 5.' if `x` is indeed greater than `y` and `y` is indeed 5.

In [22]:
x=10
y=5
try:
    if x > y:
        print(f"x is greater than y")
        if y==5:
            print(f"y is 5")
    elif x<y :
        print(f"{x} is not greater than {y}")
    elif x==y :
        print(f"{x} is {y}")

except TypeError:
    print("Error: Cannot compare a string with a number!")

x is greater than y
y is 5

Exercise 5: for loop

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop.

In [24]:
fruits = ['apple', 'banana', 'cherry']
for f in fruits:
    print(f)

apple
banana
cherry

Exercise 6: for loop over a string

Print each character of the string `s = 'Hello, world!'` using a `for` loop.

In [27]:
s = 'Hello, world!'


for l in s:
    print (l)

H
e
l
l
o
,

w
o
r
l
d
!

Exercise 7: for loop with break

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop, but stop the loop before it comes to 'banana'.

In [37]:
fruits = ['apple', 'banana', 'cherry']
for f in fruits:
    if f == "banana":
        print("RUN")
        break
    print(f)

apple
RUN

Exercise 8: for loop with continue

Print each item in the list `fruits = ['apple', 'banana', 'cherry']` using a `for` loop, but skip 'banana'.

In [38]:
fruits = ['apple', 'banana', 'cherry']
for f in fruits:
    if f == "banana":
        print("RUN")
        continue 
    print(f)

apple
RUN
cherry

Exercise 9: for loop with range function

Print numbers from 0 to 5 using a `for` loop and the `range()` function.

In [47]:
for n in range(0,6):
    print (n)

0
1
2
3
4
5

Exercise 10: for loop with range function and step argument

Print every second number from 0 to 10 using a `for` loop and the `range()` function with a step argument.

In [42]:
for n in range(0,11,2):
    print (n)

0
2
4
6
8
10

Exercise 11: while loop

Print numbers from 1 to 5 using a `while` loop.

In [48]:
n=1
while n < 6 :
    print(n)
    n+=1

1
2
3
4
5

Exercise 12: while loop with break

Print numbers from 1 to 10 using a `while` loop, but stop the loop when the variable `i` is `5`.

In [50]:
n=1
while n <= 10 :
    if n == 5 :
        break
    print(n)
    n+=1

1
2
3
4

Exercise 13: while loop with continue

Print numbers from 1 to 5 using a `while` loop, but skip the number 3.

In [59]:
n=1
while n <= 5:
    if n == 3:
        n+=1
        continue
    print(n)
    n+=1

1
2
4
5

Exercise 14: Pass Statement

Write a for loop that loops over the numbers from 1 to 10, but contains a pass statement for the processing of the number 5.

In [63]:
n=0
while n<= 9:
    n+=1
    if n == 5:
        pass
    else:
        print(n)

1
2
3
4
6
7
8
9
10

Exercise 15: Check if a number is in a list using the in keyword

Given a list `numbers = [1, 3, 5, 7]` and a number `n = 5`, print '5 is in the list' if 5 is indeed in the list `numbers`.

In [18]:

numbers = [1, 3, 5, 7]
n = 5
if n in numbers:
    print(f'{n} is in the list')
else:
    print(f'{n} is not in the list')

5 is in the list

Exercise 16: Check if a number is not in a list using the not in keyword

Given a list `numbers = [1, 3, 5, 7]` and a number `n = 4`, print '4 is not in the list' if 4 is not in the list `numbers`.

In [66]:

numbers = [1, 3, 5, 7]
n = 5
if n not in numbers:
    print(f'{n} is not in the list')
else:
    print(f'{n} is in the list')

5 is in the list

Exercise 17: Use any() function to check if any number in a list is greater than 10.

Given a list `numbers = [1, 3, 5, 7, 11, 13]`, use the `any()` function to check if any number in the list is greater than 10.

In [70]:
numbers = [1, 3, 5, 7]
n = 5
any(n>s for s in numbers)

True

Exercise 18: Use all() function to check if all numbers in a list are greater than 0.

Given a list `numbers = [1, 3, 5, 7, 11, 13]`, use the `all()` function to check if all numbers in the list are greater than 0.

In [71]:

numbers = [1, 3, 5, 7]
n = 5
all(n>s for s in numbers)

False

Exercise 19: Use enumerate() in a for loop to print the index and value of a list.

Given a list `fruits = ['apple', 'banana', 'cherry']`, use the `enumerate()` function in a `for` loop to print the index and value of each item in the list.

In [73]:
fruits = ['apple', 'banana', 'cherry']
for k,v in enumerate(fruits):
    print(f"Index: {k}, Value: {v}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

Exercise 20: Use zip() in a for loop to iterate over two lists simultaneously.

Given two lists `fruits = ['apple', 'banana', 'cherry']` and `colors = ['red', 'yellow', 'dark red']`, use the `zip()` function in a `for` loop to print each fruit and its color simultaneously.

In [88]:
fruits = ['apple', 'banana', 'cherry']
colors = ['red', 'yellow', 'dark red']
for f in zip(fruits,colors):
    print(f)

('apple', 'red')
('banana', 'yellow')
('cherry', 'dark red')

Exercise 21: Create a dictionary using dictionary comprehension where the keys are numbers between 1 and 5 (both included) and the values are the squares of the keys.

In [96]:
{i : i**2 for i in range(1,6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Exercise 22: Create a dictionary using dictionary comprehension where the keys are numbers between 1 and 10 (both included) and the values are 'Even' for even numbers and 'Odd' for odd numbers.

In [107]:
{s : "Even"   if s%2==0 else "Odd" for s in range(1,11) }

{1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even'}

Exercise 23: Assign a variable 'x' a value of 5. Use a ternary operator to assign a variable 'y' a value of 'Greater than 2' if 'x' is greater than 2, else 'Not greater than 2'.

In [110]:
x=1
y= 'Greater than 2' if x>2 else 'Not greater than 2'
y

'Not greater than 2'

Exercise 24: Use a ternary operator to assign a variable 'y' a value of 'Positive' if 'x' is greater than 0, 'Zero' if 'x' is 0, and 'Negative' otherwise.

<b>Python has a `ternary` operator, which is a simpler form of an if-else statement. It's a one-liner if-else.</b>

In [118]:
x=1
y= 'p' if x>0 else "0" if x==0  else 'n'
y

'p'