# Functions

## Questions

**Exercise 1: Define a simple function called 'greet' that prints 'Hello, world!' when called.**

In [1]:
def h():
    return( 'Hello, world!' )

**Exercise 2: Call the 'greet' function you defined.**

In [2]:
h()

'Hello, world!'

**Exercise 3: Define a function 'add' that takes two parameters and returns their sum.**

In [3]:
def add (*x):
    return(sum(x))

**Exercise 4: Call the 'add' function with 2 and 3 as arguments.**

In [4]:
add(8,2,31,41,423,9)

514

**Exercise 5: Modify the 'add' function to return 'Invalid Input' if any of the input parameters are not an integer or a float.**

In [5]:
def add (*y):
    f=[]
    for x in y :
        if not ( isinstance(x, int) or  isinstance(x, float)):
            return("'Invalid Input")
        else:
            f.append(x)
    return(sum(f)) 
add(8,2,31,423,9)

473

**Exercise 6: Define a function 'safe_divide' that takes two parameters and returns their division result. If division is not possible, it should return 'Invalid Operation'.**

In [6]:
def safe_divide(y,x):
    try:
        return(y/x) 
    except (ZeroDivisionError):
        return("do not divide by zero")
safe_divide(8,4)

2.0

**Exercise 7: Call 'safe_divide' with 10 and 2, and then with 10 and 0.**

In [7]:
safe_divide(10,0)

safe_divide(10,2)

5.0

**Exercise 8: Create a function 'create_full_name' that takes two parameters - 'first_name' and 'last_name' (default value = 'Smith') - and returns the full name.**

In [8]:
def create_full_name(x,y):
    x=  x[0].upper()+  x[1:]
    y= y[0].upper() + y[1:]
    return(" ".join([x,y]))
    
create_full_name("makd","fnka")

'Makd Fnka'

**Exercise 9: Call 'create_full_name' with 'John' as the first_name. Then call it with 'John' as the first_name and 'Doe' as the last_name.**

In [9]:
x="fsF"
x[0].upper()

'F'

**Exercise 10: Define a function 'sum_all' that takes any number of input parameters and returns their sum.**

In [10]:
def sum_all (*y):
    return(add(*y))
sum_all(8,2,31,423,9)

473

**Exercise 11: Call 'sum_all' with 1, 2, 3, 4, and 5 as inputs.**

In [11]:
sum_all(1, 2, 3, 4,5)

15

**Exercise 12: Define a function 'key_value_pairs' that takes arbitrary keyword arguments and returns a dictionary of these arguments.**

In [12]:
def key_value_pairs( **kwargs) :
    return kwargs

**Exercise 13: Call 'key_value_pairs' with 'name' = 'John' and 'age' = 25.**

In [13]:
key_value_pairs(name = 'John' , age = 25)

{'name': 'John', 'age': 25}

**Exercise 14: Declare a global variable 'x', set its value to 10. Then define a function 'modify_global_var' that changes the global 'x' to 20.**

In [14]:
x=10
def modify_global_var(y):
    global x
    x=y

**Exercise 15: Print the value of 'x', call 'modify_global_var', then print the value of 'x' again.**

In [15]:
print(x)
modify_global_var(20)
print(x)

10
20

**Exercise 16: Define a function 'raise_error' that raises an ValueError with the message 'An error has occurred'.**

In [16]:
def raise_error():
    raise ValueError("An error has occurred")

**Exercise 17: Define a function 'handle_error' that calls 'raise_error' in a try block and handles the ValueError in an except block by printing the error message.**

In [17]:
def handle_error():
    try:
        raise_error() 
    except ValueError as e:
        print(e)

**Exercise 18: Call 'handle_error'.**

In [18]:
handle_error()

An error has occurred

**Exercise 19: Write a function divide_by_two that accepts a list of numbers and returns a new list where each number is divided by 2.**

In [19]:
def divide_by_two (y):
    f=[]
    for x in y :
        if not ( isinstance(x, int) or  isinstance(x, float)):
            return("'Invalid Input")
        else:
            f.append(x/2)
    return f

**Exercise 20: Write a function get_even_numbers that accepts a list of numbers and returns a new list containing only the even numbers from the input list.**

In [20]:
def get_even_numbers(y):
    return ([r for r in y if r%2==0 ])

**Exercise 21: Write a function multiply_numbers that accepts a list of numbers and returns the product of all the numbers in the list.**

In [21]:
def multiply_numbers(y):
    z=1
    for x in y:
        z=z*x
    return (z)

**Exercise 22: Call divide_by_two with the list [1, 2, 3, 4, 5].**

In [22]:
divide_by_two([1, 2, 3, 4, 5])

[0.5, 1.0, 1.5, 2.0, 2.5]

**Exercise 23: Call get_even_numbers with the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].**

In [23]:
get_even_numbers([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

[2, 4, 6, 8, 10]

**Exercise 24: Call multiply_numbers with the list [1, 2, 3, 4, 5].**

In [24]:
multiply_numbers([1, 2, 3, 4, 5])

120

**Exercise 25: Modify multiply_numbers to return "Invalid Operation" if the list is empty.**

In [25]:
def multiply_numbers(y):
    z=1
    if y == []:
        return "Invalid Operation"
    else:
        for x in y:
            z=z*x
    return (z)

**Exercise 26: Call multiply_numbers with an empty list.**

In [26]:
multiply_numbers([])

'Invalid Operation'

**Exercise 27: Define a function calculate_operation that receives a list of tuples. Each tuple contains a string (can be "add", "subtract", "multiply", or "divide") and two integers. The function should return a list of results according to the operation of each tuple. For example: [("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3)] should return [5, 3, 6].**

In [27]:
def calculate_operation(operations):
    results=[]
    for operation in operations:
        x , y, z = operation 
        if not ( isinstance(y, int) or  isinstance(y, float) or isinstance(z, int) or  isinstance(z, float)):
            results.append( ("'Invalid Input"))
        else:
            if x == "add":
                results.append(  y + z)
            elif x == "subtract":
                results.append( (y-z))
            elif x == "multiply":
                results.append(y*z)
            elif x == "divide":
                results.append(safe_divide(y,z))
    return results 
    
calculate_operation([("add", 2, 3), ("subtract", 5, 2), ("multiply", 2, 3) , ("divide", 2,3 )])

[5, 3, 6, 0.6666666666666666]

**Exercise 28: Create a function sum_of_squares that receives an integer n and returns the sum of the squares of all numbers from 1 to n. For example, if n = 3, it should return 14 because 1^2 + 2^2 + 3^2 = 14.**

In [30]:
def sum_of_squares(n):
    results=[]
    for i in range(1,n+1):
        results.append(i**2)
    return(sum(results))
sum_of_squares(3)

14


**Exercise 29: Create a function fibonacci that receives an integer n and returns the nth Fibonacci number. Fibonacci sequence is: 0, 1, 1, 2, 3, 5, 8, 13, ..., where each number is the sum of the two preceding ones. For example, if n = 7, it should return 8**

In [31]:
import time

In [129]:
def fibonacci2(n):
    results=[0,1]
    if n<=0:
        return "not valid"
    elif n== 1:
        return 0 
    elif n== 2:
        return 1 
    elif n>2:
        return(sum([fibonacci2(n-2),fibonacci2(n-1)]))
        
start_time = time.time()
print(fibonacci2(35))
end_time=time.time()
print(f"Elapsed time: {end_time - start_time:.6f} seconds")

5702887
Elapsed time: 1.343016 seconds

In [130]:
def fibonacci(n):
    results=[0,1]
    if n<=0:
        return "not valid"
    elif n== 1:
        return 0 
    elif n== 2:
        return 1 
    elif n>2:
        for i in range(3,n+1):
            results.append(sum([results[i-2],results[i-3]]))
        return results[n-1]
start_time = time.time()
print(fibonacci(10000))
end_time=time.time()
print(f"Elapsed time: {end_time - start_time:.6f} seconds")

20793608237133498072112648988642836825087036094015903119682945866528501423455686648927456034305226515591757343297190158010624794267250973176133810179902738038231789748346235556483191431591924532394420028067810320408724414693462849062668387083308048250920654493340878733226377580847446324873797603734794648258113858631550404081017260381202919943892370942852601647398213554479081823593715429566945149312993664846779090437799284773675379284270660175134664833266377698642012106891355791141872776934080803504956794094648292880566056364718187662668970758537383352677420835574155945658542003634765324541006121012446785689171494803262408602693091211601973938229446636049901531963286159699077880427720289235539329671877182915643419079186525118678856821600897520171070499437657067342400871083908811800976259727431820539554256869460815355918458253398234382360435762759823179896116748424269545924633204614137992850814352018738480923581553988990897151469406131695614497783720743461373756218685106856826090696339815490921253714537241866911604250597353747823733268178182198509240226955826416016690084749816072843582488613184829905383150180047844353751554201573833105521980998123833253261228689824051777846588461079790807828367132384798451794011076569057522158680378961532160858387223882974380483931929541222100800313580688585002598879566463221427820448492565073106595808837401648996423563386109782045634122467872921845606409174360635618216883812562321664442822952537577492715365321134204530686742435454505103269768144370118494906390254934942358904031509877369722437053383165360388595116980245927935225901537634925654872380877183008301074569444002426436414756905094535072804764684492105680024739914490555904391369218696387092918189246157103450387050229300603241611410707453960080170928277951834763216705242485820801423866526633816082921442883095463259080471819329201710147828025221385656340207489796317663278872207607791034431700112753558813478888727503825389066823098683355695718137867882982111710796422706778536913192342733364556727928018953989153106047379741280794091639429908796650294603536651238230626
Elapsed time: 0.011548 seconds

In [111]:
# במספרים קטנים נראה ששתי השיטות שוות ואפילו שהשיטה הראשונה טובה יותר.
# אבל ב20 כבר ניתן לראות הבדל של סדר גודל לטובת לולאה